* {
    text-decoration: none;
}
.calling-page {
    
}
.callingWrapper {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: space-between;
}
.call{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call > img {
    border: 1px solid #ccc;
    border-radius: 50%;
}
.callingWrapper > button {
    width: 100px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 10px;
    border: 0;
    border-radius: 8px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondChild {
    border-right: 1px solid #ccc;
}
.contentMsg > img, .contentMsg > img {
    width: 50px;
    height: 50px;
}
.contentMsg{
    display: flex;
    font-size: 12px;
}
.contentMsg>p, .contentMsg>p {
    width: 500px;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(4, 120, 114);
}
.right {
    float: right;
}
.chattingInput > input {
    width: 100vw;
    bottom: 0;
    position: fixed;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}